In [1]:
from nba_api.stats.endpoints import PlayerIndex
import pandas as pd

# Initialize the PlayerIndex class to fetch data
player_index = PlayerIndex(historical_nullable='1')

# Extract the player index data
player_data = player_index.player_index.get_data_frame()

# Select only the necessary columns
selected_columns = ['PERSON_ID', 'PLAYER_LAST_NAME', 'PLAYER_FIRST_NAME', 'POSITION']
player_position_data = player_data[selected_columns]

# Display the first few rows
print(player_position_data.head())

# Optionally, save this data to a CSV file
player_position_data.to_csv("./OriginalDatasets/player_positions.csv", index=False)

   PERSON_ID PLAYER_LAST_NAME PLAYER_FIRST_NAME POSITION
0      76001        Abdelnaby              Alaa        F
1      76002       Abdul-Aziz              Zaid        C
2      76003     Abdul-Jabbar            Kareem        C
3         51       Abdul-Rauf           Mahmoud        G
4       1505      Abdul-Wahad             Tariq      F-G

In [2]:
# Load the existing dataset
existing_data = pd.read_csv('./ExsitingDatasets/all_seasons.csv')

player_position_data = player_position_data.copy()

# Concatenate the first and last names to match the 'player_name' format
player_position_data['full_name'] = player_position_data['PLAYER_FIRST_NAME'] + ' ' + player_position_data['PLAYER_LAST_NAME']

# Merge the datasets on the player names
merged_data = pd.merge(existing_data, player_position_data[['full_name', 'POSITION']], 
                       left_on='player_name', right_on='full_name', how='left')

# Drop the extra 'full_name' column after merge
merged_data.drop('full_name', axis=1, inplace=True)

# Check for any missing positions (if necessary)
missing_positions = merged_data[merged_data['POSITION'].isnull()]

In [3]:
merged_data.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,POSITION
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,G
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,G
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,F
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,F
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,C

In [4]:
# Save the merged dataset to a new CSV file
merged_data.to_csv('./OriginalDatasets/all_seasons_position.csv', index=False)